.list-item {
  display: flex;
  flex-flow: row wrap;
}

.list-item__profile {
  flex-flow: nowrap;
}

.list-item__service {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  gap: 60px 78px;
  justify-content: center;
}

.see-all__button {
  border: 1.85246px solid #ffffff;
  padding: 12px 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 33px;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 912px) {
  .list-item {
    display: grid;
    grid-template-columns: auto;
  }

  .see-all__button {
    display: block;
  }
}
